@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Fala Rapaziada!</h1>

<img src="https://thumbs.gfycat.com/GracefulShorttermDinosaur-small.gif" alt="">

    <p>Tente ficar parado --><a href="https://www.youtube.com/watch?v=H9cNXv0f6EI"> Do Leme ao Pontal</a>.</p>
</div>
